.abilities {
  text-align: center;
  padding-bottom: 20px;

  .quasar1 {
    height: 60px;
    position: absolute;
    top: 90px;
    left: 60%;
    width: 60px;
    z-index: 4;
  }

  .what-we-do-illustration {
    width: 80%;
  }

  .planet {
    background: url("../images/abilities-planet.svg") no-repeat center;
  }

  .comet {
    height: 80px;
    left: 5%;
    position: absolute;
    top: 500px;
    width: 80px;
    z-index: 4;
  }

  .quasar3 {
    height: 30px;
    position: absolute;
    top: 50px;
    width: 30px;
    z-index: 6;
  }

  .row.skills {
    height: 200px;
  }

  .skills img {
    top: 0px;
    left: 25%;
    position: absolute;
    z-index: 4;
    width: 50%;
  }

  .skills p {
    font-family: "industry", "helvetica", "sans-serif";
    position: absolute;
    z-index: 5;
  }

  .quasar1 {
    height: 60px;
    top: 10%;
    left: 60%;
    width: 60px;
  }

  .quasar3 {
    left: 80%;
  }

  .comet {

  }

  .database img {
    left: 10%;
    top: 10%;
    width: 70%;
  }

  .database p {
    left: 12%;
    top: 25%;
    font-size: 0.9em;
  }

  .search-engine img {
    width: 70%;
  }

  .search-engine p {
    top: 15%;
    right: 15%;
    font-size: 0.9em;
  }

  .ecommerce img {
    top: 0;
    left: 20%;
    width: 60%;
  }

  .ecommerce p {
    top: 10%;
    left: 25%;
    font-size: 0.9em
  }

  .web-and-mobile img {
    width: 70%;
    right: 0;
  }

  .web-and-mobile p {
    top: 10%;
    right: 15%;
    font-size: 0.8em;
  }

  .cms {
    img {
      top: 20%;
      left: 30%;
      width: 50%;
    }

    p {
      top: 28%;
      left: 40%;
      font-size: 0.8em;
    }
  }

  .data-viz img {
    top: 0;
    left: 30%;
    width: 240px;
  }

  .data-viz p {
    bottom: 0;
    left: 40%;
    font-size: 0.8em;
  }
}

@media(max-width: 450px) {
  .abilities {
    text-align: left;

    .quasar1 {
      height: 60px;
      top: 10%;
      left: 60%;
      width: 60px;
    }

    .quasar3 {
      left: 80%;
    }

    .comet {
      left: 50%;
      top: 0%;
    }

    .database {
      img {
        top: 70%;
        left: 0;
        width: 100%;
      }

      p {
        top: 80%;
        left: 2%;
        font-size: 0.8em;
      }
    }

    .search-engine {
      img {
        top: 30%;
        right: 0;
        width: 100%;
      }

      p {
        top: 40%;
        right: -5%;
        font-size: 0.7em
      }
    }

    .ecommerce {
      img {
        top: 25%;
        left: -5%;
        width: 100%;
      }

      p {
        top: 30%;
        left: 0px;
        font-size: 0.8em;
      }
    }

    .web-and-mobile {
      img {
        left: 0;
        width: 110%;
      }

      p {
        top: 8%;
        right: 5%;
        font-size: 0.7em;
      }
    }

    .cms {
      img {
        top: -10px;
        left: 20px;
        width: 100%;
      }

      p {
        top: 5px;
        left: 57px;
        font-size: 0.9em;
      }
    }

    .data-viz {
      img {
        top: -12px;
        left: 0;
        width: 110%;
      }

      p {
        top: 112px;
        left: 30px;
        font-size: 0.8em;
      }
    }
  }
}

@media(min-width: 900px) {
  .abilities {
    margin-bottom: 100px;

    .wrapper {
      margin: 0 auto;
      max-width: 960px;
    }

    .quasar1 {

    }

    .quasar3 {

    }

    .comet {
      width: 130px
    }

    .database {
      img {

      }

      p {
        font-size: 1.2em;
      }
    }

    .search-engine {
     img {

      }

      p {
        font-size: 1.4em;
        right: 11%
      }
    }

    .ecommerce {
      img {

      }

      p {
        font-size: 1.4em;
      }
    }

    .web-and-mobile {
      img {

      }

      p {
        font-size: 1.3em;
        right: 10%;
      }
    }

    .cms {
      img {

      }

      p {
        font-size: 1.2em;
      }
    }

    .data-viz {
      img {

      }

      p {
        font-size: 1.0em;
      }
    }
  }
}
