.contact {
  background-color: #fff8e2;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;

  h2 {
    color: #e17e34;
  }

  .contact-form-wrapper {
    background: image-url("contact-form-background.svg") no-repeat center;
    height: 500px;
    padding-top: 75px;
    width: 100%;
  }

  form {
    margin: 0 auto;
    width: 300px;
  }

  button {
    margin: 72px 0 0 190px;
    color: #665d5b;
    background-color: #dca146;
    border-color: #665d5b;
    border-width: 5px;
    width: 180px;
  }
}

@media(max-width: 800px) {
  .contact .col-12 {
    padding-left: 0;

    .contact-form-wrapper {
      background-size: 110% 110%;
      height: 400px;
      padding-top: 60px;
    }

    form {
      margin: 0 auto 0 auto;
      width: 250px;
    }

    .form-group {
      margin-bottom: 0;
    }

    label {
      margin-bottom: 0;
    }

    button {
      margin: 55px 0 0 140px;
      color: #665d5b;
      background-color: #dca146;
      border-color: #665d5b;
      border-width: 5px;
      width: 140px;
    }
  }
}

@media(min-width: 800px) {

}
