// fonts
$font-main: "Industry", "Helvetica", "sans-serif";
$font-deco: "Mouse Memoirs", "sans-serif";
$font-readable: "Tahoma", "sans-serif";

// colors
$black: #2A3038;
$orange: #005F6F;
$white: #ffffff;
