.contact {
  background-color: #fff8e2;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contact h2 {
  color: #e17e34;
}

.contact .contact-form-wrapper {
  background: url("../images/contact-form-background.svg") no-repeat center;
  height: 500px;
  padding-top: 75px;
  width: 100%;
}

.contact form {
  margin: 0 auto;
  width: 300px;
}

.contact button {
  margin: 72px 0 0 190px;
  color: #665d5b;
  background-color: #dca146;
  border-color: #665d5b;
  border-width: 5px;
  width: 180px;
}

@media(max-width: 800px) {
  .contact .col-12 {
    padding-left: 0;
  }

  .contact .contact-form-wrapper {
    background-size: 110% 110%;
    height: 400px;
    padding-top: 60px;
  }

  .contact form {
    margin: 0 auto 0 auto;
    width: 250px;
  }

  .contact .form-group {
    margin-bottom: 0;
  }

  .contact label {
    margin-bottom: 0;
  }

  .contact button {
    margin: 55px 0 0 140px;
    color: #665d5b;
    background-color: #dca146;
    border-color: #665d5b;
    border-width: 5px;
    width: 140px;
  }
}

@media(min-width: 800px) {

}
