.tools {
  background-color: #005F6F;
  text-align: center;
}

.tools .tools-header {
  height: 200px;
}

.tools img.tools-we-use-illustration {
  height: 300px;
  width: 600px;
  position: absolute;
  left: 10%;
  z-index: 3;
}

.tools h2 {
  position: absolute;
  left: 2%;
  z-index: 3;
}

.tools img.tool-circle {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.tools p {
  font-family: "helvetica", "sans-serif";
}

@media(max-width: 768px) {
  .tools h2 {
    position: absolute;
    z-index: 3;
  }
}

@media(min-width: 800px) {

}
