<div class="col-12">
  <div class="row">
    <h2>
      <span class="lead">Contact Us</span><br>
      <span class="remaining">Directly</span>
    </h2>
  </div>
  <div class="contact-info row">
    <div class="col-8 details">
      All Aboard Apps, LLC<br>
      Randy Burgess, Owner<br>
      <a href="tel:773-551-6808">773-551-6808</a><br>
      <a href="mailto:randy@allaboardapps.com">randy@allaboardapps.com</a><br>
    </div>
    <div class="col-4">
      <%= image_tag "contact-satellite.svg", class: "satellite" %>
    </div>
  </div><!-- /.contact-info -->
  <div class="tagline row">
    <div class="col-12">
      <p>Based in Kansas City and Chicago. Working for Everywhere.</p>
    </div>
  </div><!-- /.tagline -->
  <div class="legal">
    <ul>
      <li><a href="/privacy_policy.html">Privacy Policy</a></li>
      <li><a href="/terms_of_service.html">Terms of Service</a></li>
    </ul>
  </div><!-- /.legal -->
  <div class="copyright row">
    <div class="col-12">
      © All Aboard Apps, LLC. All rights reserved.
    </div>
  </div><!-- /.copyright -->
</div>
