<div class="col-4 text-center">
  <%= image_tag "earth.svg", class: "earth" %>
</div>
<div class="col-4 text-center">
  <div class="logo-and-name">
    <%= image_tag "all-aboard-apps-logo.svg", class: "logo" %>
    <h1>All Aboard Apps</h1>
  </div>
</div>
<div class="col-4 text-center">
  <%= image_tag "mars.svg", class: "mars" %>
  <%= image_tag "quasar.svg", class: "quasar" %>
</div>
